# Import necessary libraries

In [1]:
import pandas as pd

# Load the dataset

In [3]:
df = pd.read_csv('/content/drive/MyDrive/data set/supermarket_sales new.csv')

# Display the first few rows of the dataset

In [4]:
print("Initial Dataset:")

Initial Dataset:

In [5]:
print(df.head())

   Gender   Invoice ID Branch       City Customer type  \
0  Female  750-67-8428      A     Yangon        Member
1  Female  226-31-3081      C  Naypyitaw        Normal
2  Female  355-53-5943      A     Yangon        Member
3  Female  315-22-5665      C  Naypyitaw        Normal
4  Female  665-32-9167      A     Yangon        Member

             Product line  Unit price  Quantity   Tax 5%
0       Health and beauty       74.69         7  261.415
1  Electronic accessories       15.28         5    3.820
2  Electronic accessories       68.84         6   20.652
3      Home and lifestyle       73.56        10   36.780
4       Health and beauty       36.26         2    3.626

# Step 1: Identify and handle missing values

In [12]:
# Check for missing values

In [11]:
missing_values = df.isnull().sum()

In [9]:
print("\nMissing Values in Each Column:")

Missing Values in Each Column:

In [10]:
print(missing_values)

Gender           0
Invoice ID       0
Branch           0
City             0
Customer type    0
Product line     0
Unit price       0
Quantity         0
Tax 5%           0
dtype: int64

In [13]:
# Handling missing values

In [14]:
# Fill missing values for 'Customer type' with 'Unknown'

In [15]:
df['Customer type'] = df['Customer type'].fillna('Unknown')

# Step 2: Remove duplicate rows

In [16]:
# Check for duplicates

In [18]:
duplicates = df.duplicated().sum()

In [19]:
print(f"\nNumber of Duplicate Rows: {duplicates}")

Number of Duplicate Rows: 0

In [20]:
# Remove duplicates

In [22]:
df = df.drop_duplicates()

# Step 3: Standardize text values

In [23]:
# Standardizing 'Gender' values to lowercase

In [24]:
df['City'] = df['City'].str.lower().str.strip()

# Step 4: Convert date formats

In [25]:
# If there is a date column, convert it to datetime format

In [26]:
# Assuming there is a 'Date' column, uncomment the following line

In [27]:
# df['Date'] = pd.to_datetime(df['Date'].str.strip(), format='%Y-%m-%d', errors='coerce')

# Step 5: Rename column headers

In [28]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

# Step 6: Check and fix data types

In [29]:
# Ensure 'unit_price' and 'quantity' are numeric

In [36]:
df['unit_price'] = pd.to_numeric(df['unit_price'], errors='coerce')

In [37]:
df['quantity'] = pd.to_numeric(df['quantity'], errors='coerce')

# Step 7: Handle inconsistent data formats

In [38]:
# Example: Standardizing 'Branch' values

In [40]:
df['branch'] = df['branch'].str.lower().str.strip()

# Step 8: Check data quality

In [47]:
valid_customer_types = ['member', 'normal']

In [46]:
df = df[df['customer_type'].str.lower().isin(valid_customer_types)]


# Step 9: Document changes

In [53]:
summary = {
    "missing_values_handled": True,
    "duplicates_removed": True,
    "text_values_standardized": True,
    "date_format_converted": True,  # Uncomment if date conversion is applied
    "column_headers_renamed": True,
    "data_types_fixed": True,
    "valid_customer_types_checked": True
}

In [54]:
print("\nSummary of Changes:")

Summary of Changes:

In [56]:
for key, value in summary.items():
    print(f"{key}: {value}")

missing_values_handled: True
duplicates_removed: True
text_values_standardized: True
date_format_converted: True
column_headers_renamed: True
data_types_fixed: True
valid_customer_types_checked: True

In [57]:

# Display the cleaned dataset
print("\nCleaned Dataset:")
print(df.head())

Cleaned Dataset:
   gender   invoice_id branch       city customer_type  \
0  Female  750-67-8428      a     yangon        Member
1  Female  226-31-3081      c  naypyitaw        Normal
2  Female  355-53-5943      a     yangon        Member
3  Female  315-22-5665      c  naypyitaw        Normal
4  Female  665-32-9167      a     yangon        Member

             product_line  unit_price  quantity   tax_5%
0       Health and beauty       74.69         7  261.415
1  Electronic accessories       15.28         5    3.820
2  Electronic accessories       68.84         6   20.652
3      Home and lifestyle       73.56        10   36.780
4       Health and beauty       36.26         2    3.626

In [59]:
# Save the cleaned dataset to a new CSV file
df.to_csv('cleaned_supermarket_sales.csv', index=False)